public/images/*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
public/images/*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
public/images/covers/**/*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
public/images/covers/**/*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
public/images/covers/**/*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
public/images/covers/**/*.[wW][eE][bB][pP] filter=lfs diff=lfs merge=lfs -text
public/images/covers/**/*.[aA][vV][iI][fF] filter=lfs diff=lfs merge=lfs -text
public/images/posts/**/*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
public/images/posts/**/*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
public/images/posts/**/*.[wW][eE][bB][pP] filter=lfs diff=lfs merge=lfs -text
public/images/posts/**/*.[aA][vV][iI][fF] filter=lfs diff=lfs merge=lfs -text
